<?xml version="1.0" encoding="UTF-8"?>
<config>
    <acceptors>
         <acceptor address="127.0.0.1" port="80" use_tls="false"/> 
        <acceptor address="127.0.0.1" port="443" use_tls="true" 
            certificate_file="D:\tls\server.crt" key_file="D:\tls\server.key"/>
    </acceptors>
    <http>
        <resources>
            <default>
                <url>/default.html</url>
                <url>/default.htm</url>
                <url>/index.html</url>
                <url>/index.htm</url>
            </default>
            <rnodes>
                <filesystem virtual_path="/" physical_path="D:/web_root"/>
            </rnodes>
        </resources>
    </http>
</config>