<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <module name="cgi"/>
    </modules>
    <server workers="12">
        <http timeout="3000">
            <default_pages>
                <default_page>index.htm</default_page>
                <default_page>index.html</default_page>
            </default_pages>
        </http>
        <listensrs>
            <listener ip_version="v4" address="127.0.0.1" port="80" tls="none" certification=""/>
            <listener ip_version="v4" address="192.168.1.13" port="443" tls="none" certification=""/>
        </listeners>
        <resources>
            <filesystem virtual_path="/" physical_path="D:/web_root"/>
            <forwarding virtual_path="/dynamic_pages" module="cgi"/>
        </resources>
    </server>
</config>