<?xml version="1.0" encoding="UTF-8"?>
<myhttpd-config>
    <acceptors>
        <acceptor address="127.0.0.1" port="80" use_tls="false"/>
    </acceptors>
    <http>
        <default_pages>
            <default_page>index.htm</default_page>
            <default_page>index.html</default_page>
        </default_pages>
        <resources>
            <filesystem virtual_path="/" physical_path="D:/web_root"/>
        </resources>
    </http>
</myhttpd-config>